{% extends 'base.html' %}
{% block styles %}
{% endblock %}

{% block title %}
<h3>會員管理</h3>
{% endblock %}

{% block content %}
<a href="{% url 'member:create' %}" class="btn btn-primary">新增</a>
<p>MediaURL：{{ MEDIA_URL }}</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>會員編號</th>
            <th>會員名稱</th>
            <th>電子郵件</th>
            <th>會員生日</th>
            <th>圖像</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.member_id }}</td>
            <td>{{ member.member_name }}</td>
            <td>{{ member.member_email }}</td>
            <td>{{ member.member_birth }}</td>
            <td><img style="width:80px" alt="{{ member.member_name }}" src="{{MEDIA_URL}}{{ member.member_avatar }}" /></td>
        </tr>
        {% endfor %}
       
    </tbody>
</table>
{% endblock %}

{% block scripts %}
{% endblock %}