{% extends 'base.html' %}
{% block title %}
<h3>會員新增</h3>
{% endblock %}

{% block content %}
<!--
    檔案上傳表單的必要設定
    1. form 標籤 enctype="multipart/form-data"
    2. <input type="file" name="userimage" />
    -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="請輸入姓名">
        </div>
        <div>
            <input type="email" name="useremail" placeholder="請輸入電子郵件">
        </div>
        <div>
            <input type="password" name="userpassword">
        </div>
        <div>
            <input type="date" name="userbirth">
        </div>
        <div>
            <input type="file" name="userphote" />
        </div>
        <button type="submit">註冊</button>
    </form>
{% endblock %}
