<!DOCTYPE html>
<html lang="zh-hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>會員註冊</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="請輸入姓名">
        </div>
        <div>
            <input type="email" name="useremail" placeholder="請輸入電子郵件">
        </div>
        <button type="submit">註冊</button>
    </form>
</body>
</html>