{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/Logos.png' %}" alt="Bootstrap" width="50" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="/">Home</a> -->
            <a class="nav-link active" aria-current="page" href="{% url 'home:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="/store/">Store</a> -->
            <a class="nav-link active" aria-current="page" href="{% url 'myapp:index' %}">Store</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="/store/about/">about</a> -->
            <a class="nav-link" href="{% url 'myapp:about' %}">about</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="/store/show/">show</a> -->
            <a class="nav-link" href="{% url 'myapp:show' %}">show</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="/store/abc/ ">abc</a> -->
            <a class="nav-link" href="{% url 'myapp:contact' %}">abc</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>