{% extends 'base.html' %}

{% block styles %}
 <style>
        h3{color:blue}
        p{
            background-color: lightpink;
        }
    </style>
{% endblock %}

{% block scripts %}
<script>
    const theP = document.querySelector('p')
    theP.addEventListener('mouseover',()=>{
        theP.style.backgroundColor = 'lightgreen' 
    })
    theP.addEventListener('mouseout',()=>{
        theP.style.backgroundColor = 'lightpink' 
    })
 </script>
{% endblock %}

{% block title %}   
  <h3>{{ title|title }}</h3>
{% endblock %}

{% block content %}
 <p>這是來自 show templates 的內容</p>
{% endblock %}